<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xtxk.system.repository.SysOperationLogMapper">
  <resultMap id="BaseResultMap" type="com.xtxk.system.api.model.SysOperationLog">
    <id column="BIZ_ID" jdbcType="VARCHAR" property="bizId" />
    <result column="OPERATION_USER" jdbcType="VARCHAR" property="operationUser" />
    <result column="OPERATION_TYPE" jdbcType="VARCHAR" property="operationType" />
    <result column="DES" jdbcType="VARCHAR" property="des" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="OPERATION" jdbcType="VARCHAR" property="operation" />
    <result column="MODULE" jdbcType="VARCHAR" property="module" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    BIZ_ID, OPERATION_USER, OPERATION_TYPE, DES, CREATE_TIME, OPERATION, MODULE
  </sql>
  <select id="selectByExample" parameterType="com.xtxk.system.api.model.SysOperationLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from SYS_OPERATION_LOG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SYS_OPERATION_LOG
    where BIZ_ID = #{bizId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SYS_OPERATION_LOG
    where BIZ_ID = #{bizId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xtxk.system.api.model.SysOperationLogExample">
    delete from SYS_OPERATION_LOG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xtxk.system.api.model.SysOperationLog">
    insert into SYS_OPERATION_LOG (BIZ_ID, OPERATION_USER, OPERATION_TYPE, 
      DES, CREATE_TIME, OPERATION, 
      MODULE)
    values (#{bizId,jdbcType=VARCHAR}, #{operationUser,jdbcType=VARCHAR}, #{operationType,jdbcType=VARCHAR}, 
      #{des,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{operation,jdbcType=VARCHAR}, 
      #{module,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xtxk.system.api.model.SysOperationLog">
    insert into SYS_OPERATION_LOG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bizId != null">
        BIZ_ID,
      </if>
      <if test="operationUser != null">
        OPERATION_USER,
      </if>
      <if test="operationType != null">
        OPERATION_TYPE,
      </if>
      <if test="des != null">
        DES,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="operation != null">
        OPERATION,
      </if>
      <if test="module != null">
        MODULE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bizId != null">
        #{bizId,jdbcType=VARCHAR},
      </if>
      <if test="operationUser != null">
        #{operationUser,jdbcType=VARCHAR},
      </if>
      <if test="operationType != null">
        #{operationType,jdbcType=VARCHAR},
      </if>
      <if test="des != null">
        #{des,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operation != null">
        #{operation,jdbcType=VARCHAR},
      </if>
      <if test="module != null">
        #{module,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xtxk.system.api.model.SysOperationLogExample" resultType="java.lang.Long">
    select count(*) from SYS_OPERATION_LOG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SYS_OPERATION_LOG
    <set>
      <if test="record.bizId != null">
        BIZ_ID = #{record.bizId,jdbcType=VARCHAR},
      </if>
      <if test="record.operationUser != null">
        OPERATION_USER = #{record.operationUser,jdbcType=VARCHAR},
      </if>
      <if test="record.operationType != null">
        OPERATION_TYPE = #{record.operationType,jdbcType=VARCHAR},
      </if>
      <if test="record.des != null">
        DES = #{record.des,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operation != null">
        OPERATION = #{record.operation,jdbcType=VARCHAR},
      </if>
      <if test="record.module != null">
        MODULE = #{record.module,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SYS_OPERATION_LOG
    set BIZ_ID = #{record.bizId,jdbcType=VARCHAR},
      OPERATION_USER = #{record.operationUser,jdbcType=VARCHAR},
      OPERATION_TYPE = #{record.operationType,jdbcType=VARCHAR},
      DES = #{record.des,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      OPERATION = #{record.operation,jdbcType=VARCHAR},
      MODULE = #{record.module,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xtxk.system.api.model.SysOperationLog">
    update SYS_OPERATION_LOG
    <set>
      <if test="operationUser != null">
        OPERATION_USER = #{operationUser,jdbcType=VARCHAR},
      </if>
      <if test="operationType != null">
        OPERATION_TYPE = #{operationType,jdbcType=VARCHAR},
      </if>
      <if test="des != null">
        DES = #{des,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operation != null">
        OPERATION = #{operation,jdbcType=VARCHAR},
      </if>
      <if test="module != null">
        MODULE = #{module,jdbcType=VARCHAR},
      </if>
    </set>
    where BIZ_ID = #{bizId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xtxk.system.api.model.SysOperationLog">
    update SYS_OPERATION_LOG
    set OPERATION_USER = #{operationUser,jdbcType=VARCHAR},
      OPERATION_TYPE = #{operationType,jdbcType=VARCHAR},
      DES = #{des,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      OPERATION = #{operation,jdbcType=VARCHAR},
      MODULE = #{module,jdbcType=VARCHAR}
    where BIZ_ID = #{bizId,jdbcType=VARCHAR}
  </update>
</mapper>