<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xtxk.system.repository.SysLoginRecordMapper">
  <resultMap id="BaseResultMap" type="com.xtxk.system.api.model.SysLoginRecord">
    <id column="LOGIN_ID" jdbcType="VARCHAR" property="loginId" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="BEGIN_TIME" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="END_TIME" jdbcType="TIMESTAMP" property="endTime" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="LOGIN_IP" jdbcType="VARCHAR" property="loginIp" />
    <result column="MESSAGE" jdbcType="VARCHAR" property="message" />
    <result column="LOGIN_SOURCE" jdbcType="VARCHAR" property="loginSource" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    LOGIN_ID, USER_ID, BEGIN_TIME, END_TIME, STATUS, LOGIN_IP, MESSAGE, LOGIN_SOURCE
  </sql>
  <select id="selectByExample" parameterType="com.xtxk.system.api.model.SysLoginRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from SYS_LOGIN_RECORD
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SYS_LOGIN_RECORD
    where LOGIN_ID = #{loginId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SYS_LOGIN_RECORD
    where LOGIN_ID = #{loginId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xtxk.system.api.model.SysLoginRecordExample">
    delete from SYS_LOGIN_RECORD
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xtxk.system.api.model.SysLoginRecord">
    insert into SYS_LOGIN_RECORD (LOGIN_ID, USER_ID, BEGIN_TIME, 
      END_TIME, STATUS, LOGIN_IP, 
      MESSAGE, LOGIN_SOURCE)
    values (#{loginId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{beginTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{loginIp,jdbcType=VARCHAR}, 
      #{message,jdbcType=VARCHAR}, #{loginSource,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xtxk.system.api.model.SysLoginRecord">
    insert into SYS_LOGIN_RECORD
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="loginId != null">
        LOGIN_ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="beginTime != null">
        BEGIN_TIME,
      </if>
      <if test="endTime != null">
        END_TIME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="loginIp != null">
        LOGIN_IP,
      </if>
      <if test="message != null">
        MESSAGE,
      </if>
      <if test="loginSource != null">
        LOGIN_SOURCE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="loginId != null">
        #{loginId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null">
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="loginIp != null">
        #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="message != null">
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="loginSource != null">
        #{loginSource,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xtxk.system.api.model.SysLoginRecordExample" resultType="java.lang.Long">
    select count(*) from SYS_LOGIN_RECORD
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SYS_LOGIN_RECORD
    <set>
      <if test="record.loginId != null">
        LOGIN_ID = #{record.loginId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null">
        USER_ID = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.beginTime != null">
        BEGIN_TIME = #{record.beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null">
        END_TIME = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.loginIp != null">
        LOGIN_IP = #{record.loginIp,jdbcType=VARCHAR},
      </if>
      <if test="record.message != null">
        MESSAGE = #{record.message,jdbcType=VARCHAR},
      </if>
      <if test="record.loginSource != null">
        LOGIN_SOURCE = #{record.loginSource,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SYS_LOGIN_RECORD
    set LOGIN_ID = #{record.loginId,jdbcType=VARCHAR},
      USER_ID = #{record.userId,jdbcType=VARCHAR},
      BEGIN_TIME = #{record.beginTime,jdbcType=TIMESTAMP},
      END_TIME = #{record.endTime,jdbcType=TIMESTAMP},
      STATUS = #{record.status,jdbcType=INTEGER},
      LOGIN_IP = #{record.loginIp,jdbcType=VARCHAR},
      MESSAGE = #{record.message,jdbcType=VARCHAR},
      LOGIN_SOURCE = #{record.loginSource,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xtxk.system.api.model.SysLoginRecord">
    update SYS_LOGIN_RECORD
    <set>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null">
        BEGIN_TIME = #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        END_TIME = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="loginIp != null">
        LOGIN_IP = #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="message != null">
        MESSAGE = #{message,jdbcType=VARCHAR},
      </if>
      <if test="loginSource != null">
        LOGIN_SOURCE = #{loginSource,jdbcType=VARCHAR},
      </if>
    </set>
    where LOGIN_ID = #{loginId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xtxk.system.api.model.SysLoginRecord">
    update SYS_LOGIN_RECORD
    set USER_ID = #{userId,jdbcType=VARCHAR},
      BEGIN_TIME = #{beginTime,jdbcType=TIMESTAMP},
      END_TIME = #{endTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=INTEGER},
      LOGIN_IP = #{loginIp,jdbcType=VARCHAR},
      MESSAGE = #{message,jdbcType=VARCHAR},
      LOGIN_SOURCE = #{loginSource,jdbcType=VARCHAR}
    where LOGIN_ID = #{loginId,jdbcType=VARCHAR}
  </update>
</mapper>